* { margin: 0; padding: 0; vertical-align: top; }
li { list-style: none; }
a { text-decoration: none; }
p { word-break: keep-all; }
img { border: 0; max-width: 100%; }
model-viewer { width: 100%; height: 1080px; margin: 0 auto; }
body {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
}